<template>
  <div class="container">
    test2
    <nuxt-link to="/">
      回首頁
    </nuxt-link>
  </div>
</template>

<script>
export default {
  head() {
    return {
      meta: [
        { property: 'og:title', content: 'titletest2' },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>

</style>
